*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.70),rgba(4, 9, 30, 0.70)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 250px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
}

.text-box h1{
    font-size:  72px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size:  20px;
    color: white
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #4287f5;
    background: #4287f5;
    transition: 0.5s;
}

nav .fa-solid{
    display: none;
}

.icon {
    text-decoration: none;
    color: white;
    padding: 25px 25px;
    position: relative;
}

@media(max-width: 700px){
    html, body {
        overflow-x: hidden;
    }
    .text-box h1{
        font-size:  60px;
    }
    .text-box p{
        font-size:  13px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #4287f5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}



/* About us */
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 150px;

}

h1{
    font-size: 36px;
    font-weight: 600;
    padding: 3%;
}

p{
    color: black;
    font-size: 24px;
    font-weight: 300;
    line-height: 25px;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
}

h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.col{
    margin-left: 5%;
    margin-right: 5%;
}
.col p{
    font-size: 16px;
    text-align: left;
}

.about-col{
    background: #81b9f0;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}

@media(max-width: 1000px){
    .row{
        flex-direction: column;
    }
}



/* Events */
.color{
    background-color: #ededed;
    width:100%
}
.events{
    width: 80%;
    margin:auto;
    text-align: center;
    margin-top: 200px;
}

.events-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.events-col img{
    width: 100%;
    border-radius: 10px;
}

.events-col p, .events-col2 p{
    padding: 0;
    font-size: 18px;
}

.events-col h3, .events-col2 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.events-col2{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.events-col2 img{
    width: 80%;
    border-radius: 10px;
}

.events-col2 li{
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    padding: 10px;
    margin-left: 100px;
}

.last{
    padding: 3%;
}



/*Contact Us*/
.contact{
    width: 80%;
    margin:auto;
    text-align: center;
    margin-top: 150px;
}

@media(max-width: 1000px){
    iframe{
        width: 100%;
    }
}


/*Footer*/
.footer{
    background-color: #ededed;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
}

.icons{
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.nav-links-footer ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav-links-footer ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.eboard{
    width: 80%;
    margin:auto;
    text-align: center;
}

.eboard-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    border-width: 1px;
}

.first{
    flex-basis: 45%
}
.eboard-col img{
    width: 100%;
    border-radius: 10px;
}

.eboard-col p{
    padding: 0;
    font-size: 18px;
}

.eboard-col h3{
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.eboard-col li{
    margin-left: 75px;
}